[Unit]
Description=AODV services
After=network.target

[Service]
StandardOutput=inherit
StandardError=inherit
WorkingDirectory=/var/aodv-implementation/
Restart=always
ExecStart=/usr/bin/python3 /var/aodv-implementation/aodvAPI.py

[Install]
WantedBy=multi-user.target